$accent_color: #e7e7e7;
$focus_color: #d22b2b;

.auth_form {
  display: flex;
  flex-direction: column;
}

.auth_submit {
  background-color: $accent_color;
  color: black;

  text-align: center;
  font-weight: 600;
  font-size: 1rem;

  border-radius: 0.4rem;

  min-width: 14rem;
  max-width: 14rem;

  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b7b7b7;
    cursor: pointer;
  }
}

.auth_error {
  color: #ffcccc;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}
