.post_info {
	display: flex;
	direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.post_user {
	display: block;
	font-size: 1.1rem;
	font-weight: 700;
}

.post_date {
	display: block;
	font-size: 0.75rem;
	user-select: none;
}
