.authSubmit {
	background-color: #e7e7e7;
	color: black;
	text-align: center;
	font-weight: 500;
	font-family: var(--font-garamond);
	display: inline-block;
	border-radius: 0.4rem;
	min-width: 13rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}

.authSubmit:hover {
	background-color: #d22b2b;
	cursor: pointer;
}
