.post_block {
  display: block;

  background-color: #414141;

  text-align: center;

  border-radius: 0.5rem;

  min-width: 40%;
  max-width: 40%;

  padding: 1rem;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}

.post_text {
  display: block;

  background-color: transparent;
  color: white;

  font-size: 1.1rem;

  resize: none;
  overflow: hidden;
  outline: none;

  padding: 0.5rem;

  min-width: 100%;
  max-width: 100%;
}

.post_button {
  display: block;

  color: black;
  background-color: white;

  border: 1px solid white;
  border-radius: 50%;

  padding: 0.5rem;

  margin-left: auto;
}
