.profile_grid {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.profile_grid_line {
	display: block;
	width: 40%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	margin-right: auto;
	margin-left: auto;
}

.profile_name {
	display: block;
	color: white;
	font-size: 1.3rem;
	font-weight: 600;
}

.profile_avatar {
	display: block;
	margin-right: 3rem;
}

.profile_follow_grid {
	display: flex;
}

.profile_follow_text {
	display: block;
	color: white;
	font-size: 1.1rem;
	margin-right: 1rem;
}
